<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Título</th>
                <th colspan="2">Métodos</th>
            </tr>
        </thead>
            <tbody>
                {%for item in posts%}
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.title}}</td>
                        <td><a type="button" class="btn btn-warning" href="{% url 'update_post' id=item.id %}">Editar</a></td>
                        <td><a type="button" class="btn btn-danger" href="{% url 'delete_post' id=item.id %}">Deletar</a></td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>

</body>
</html>