{% extends 'base.html' %}

{% block content %}

<body>
    
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Título</th>
                <th colspan="2">Métodos</th>
            </tr>
        </thead>
            <tbody>
                {%for item in posts%}
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.title}}</td>
                        <td>
                            <a type="button" class="btn btn-primary" href="{% url 'update_post' id=item.id %}">Editar</a>
                            <a type="button" class="btn btn-danger" href="{% url 'delete_post' id=item.id %}">Deletar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>

</body>

{% endblock %}